# OSX
._*
.DS_Store

# intellij files
.idea/*

# Eclipse files
.classpath
.project
.settings/**

# visual studio code
.vscode/*

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# mkdocs
site

# temporal github pages
gh-pages

# Docker-based builds
test/binaries

# coverage artifacts
.coverprofile
gover.coverprofile

e2e-tests
coverage.txt
test/e2e/e2e\.test
.env
.gocache/
bin
test/e2e-image/wait-for-nginx.sh
.cache
cover.out

# secret terraform variables
build/images/nginx/aws.tfvars
build/images/nginx/env.tfvars

images/fastcgi-helloserver/rootfs/fastcgi-helloserver

cmd/plugin/release/ingress-nginx.yaml
cmd/plugin/release/*.tar.gz
cmd/plugin/release/LICENSE
