# Kind - https://kind.sigs.k8s.io/docs/user/ingress/
controller:
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  hostPort:
    enabled: true
  terminationGracePeriodSeconds: 0
  service:
    type: NodePort
  watchIngressWithoutClass: true
  publishService:
    enabled: false
  extraArgs:
    publish-status-address: localhost
