apiVersion: v1
data:
  default.conf: |
    server {
        listen       {{ .Values.defaultBackend.port }};
        listen  [::]:{{ .Values.defaultBackend.port }};
        server_name  localhost;
        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
        }
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
kind: ConfigMap
metadata:
  name: default-backend-nginx-conf-configmap
