annotations:
  artifacthub.io/changes: |
     - "helm: Fix opentelemetry module installation for daemonset (#9792)"
     - "Update charts/* to keep project name display aligned (#9931)"
     - "Update Ingress-Nginx version controller-v1.8.0"
  artifacthub.io/prerelease: "false"
apiVersion: v2
appVersion: 1.8.0
description: Ingress controller for Kubernetes using NGINX as a reverse proxy and
  load balancer
engine: gotpl
home: https://github.com/kubernetes/ingress-nginx
icon: https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Nginx_logo.svg/500px-Nginx_logo.svg.png
keywords:
- ingress
- nginx
kubeVersion: '>=1.20.0-0'
maintainers:
- name: rikatz
- name: strongjz
- name: tao12345666333
name: ingress-nginx
sources:
- https://github.com/kubernetes/ingress-nginx
version: 4.7.0
