apiVersion: krew.googlecontainertools.github.com/v1alpha2
kind: Plugin
metadata:
  name: ingress-nginx
spec:
  shortDescription: Interact with ingress-nginx
  description: |
    The official kubectl plugin for ingress-nginx.
  version: v%%%tag%%%
  homepage: https://kubernetes.github.io/ingress-nginx/kubectl-plugin/
  platforms:
  - uri: https://github.com/kubernetes/ingress-nginx/releases/download/nginx-%%%tag%%%/kubectl-ingress_nginx-darwin-amd64.tar.gz
    sha256: %%%shasum_darwin_amd64%%%
    files:
    - from: "*"
      to: "."
    bin: "./kubectl-ingress_nginx"
    selector:
      matchLabels:
        os: darwin
        arch: amd64
  - uri: https://github.com/kubernetes/ingress-nginx/releases/download/nginx-%%%tag%%%/kubectl-ingress_nginx-linux-amd64.tar.gz
    sha256: %%%shasum_linux_amd64%%%
    files:
    - from: "*"
      to: "."
    bin: "./kubectl-ingress_nginx"
    selector:
      matchLabels:
        os: linux
        arch: amd64
  - uri: https://github.com/kubernetes/ingress-nginx/releases/download/nginx-%%%tag%%%/kubectl-ingress_nginx-windows-amd64.tar.gz
    sha256: %%%shasum_windows_amd64%%%
    files:
    - from: "*"
      to: "."
    bin: "./kubectl-ingress_nginx.exe"
    selector:
      matchLabels:
        os: windows
        arch: amd64
