apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress
  namespace: nginx-ingress
spec:
# Can also use LoadBalancer type
  type: NodePort
  ports:
  - name: http
    port: 8080
    nodePort: 30080
    targetPort: 80
    protocol: TCP
  - name: https
    port: 443
    nodePort: 30443
    targetPort: 443
    protocol: TCP
  selector:
    k8s-app: nginx-ingress-lb
