controller:
  image:
    repository: ingress-controller/controller
    tag: 1.0.0-dev
    digest: null

  service:
    type: ClusterIP

    internal:
      enabled: true
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"
